.planHeader {
  padding-left: 0;
  text-align: center;
}

.planBody li { text-align: center; }

.shortBtn a {
  font-family: 'Helvetica Neue';
  padding: 12px 15px;
  font-size: 22px;
}

.td h3 {
  font-family: 'playfair_displayitalic', Arial, sans-serif !important;
}

.caption h1 {
  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-weight: bold;
}

.parallax {
  background: #0b396c;
}

.logo-aya {
  background: url(../images/logo.png);
  width: 487px;
  height: 144px;
  z-index: 1000;
  margin: 0 auto;
  display: block;
}

.caption {
  top: 30%;
}

.switchedHeader nav#mainNav li a.active:after {
  display: none; /* hide nav dot */
}

.mainSlider .slides li:before {
  display: none; /* overlay */
}
